/**********************************/


/********** General CSS ***********/


/**********************************/

body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #CCFCCB;
}

.nghang {
    object-fit: cover;
}

a {
    color: #568259;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

p {
    color: black;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    color: black;
}

h3 {
    font-size: 16px;
}

@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}


/**********************************/


/******** Back to Top CSS *********/


/**********************************/

.back-to-top {
    position: fixed;
    display: none;
    background: #568259;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}


/**********************************/


/********* Form Input CSS *********/


/**********************************/

.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #568259;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #568259;
    border-color: #568259;
    box-shadow: none;
}

.btn {
    color: #568259;
    background: #ffffff;
    border: 1px solid #89da59;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #ffffff;
    background: #568259;
    box-shadow: none;
}


/**********************************/


/******* Normal Slider CSS ********/


/**********************************/

.normal-slider .slick-prev,
.normal-slider .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: greenyellow;
    border-radius: 4px;
}

.normal-slider .slick-prev {
    left: 55px;
}

.normal-slider .slick-next {
    right: 55px;
}

.normal-slider.slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.normal-slider.slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.normal-slider .slick-prev:hover,
.normal-slider .slick-prev:focus,
.normal-slider .slick-next:hover,
.normal-slider .slick-next:focus {
    background: green;
}

.normal-slider .slick-prev:hover::before,
.normal-slider .slick-prev:focus::before,
.normal-slider .slick-next:hover::before,
.normal-slider .slick-next:focus::before {
    color: #568259;
}

.normal-slider .slick-prev::before,
.normal-slider .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
}

.normal-slider .slick-prev::before {
    content: "\f104";
}

.normal-slider .slick-next::before {
    content: "\f105";
}

.normal-slider .slick-dots {
    bottom: 15px;
}

.normal-slider .slick-dots li button:before {
    color: #ffffff;
    font-size: 15px;
}

.normal-slider .slick-dots li.slick-active button:before {
    color: #568259;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}


/**********************************/


/********** Top Bar CSS ***********/


/**********************************/

.top-bar {
    padding: 3px 0;
    font-size: 14px;
    color: #568259;
    background: #000000;
}

.top-bar i {
    margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
    text-align: left;
}

.top-bar .col-sm-6:last-child {
    text-align: right;
}

@media (max-width: 575.98px) {
    .top-bar {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
    }
    .top-bar .col-sm-6:first-child,
    .top-bar .col-sm-6:last-child {
        text-align: center;
    }
}


/**********************************/


/*********** Nav Bar CSS **********/


/**********************************/

.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
    }
}

.breadcrumb-item.active {
    color: #000000;
}

.navbar h2 {
    text-align: center;
    color: #568259;
}

.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #568259;
}

.nav .dropdown-menu a.active {
    color: #353535;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: #96E6B3 !important;
    }
    .nav .navbar-brand {
        display: none;
    }
    .nav .navbar-dark a.nav-link {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
    }
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #000000;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    .nav a.nav-link {
        padding: 5px 0;
    }
    .nav .dropdown-menu {
        box-shadow: none;
    }
}


/**********************************/


/********* Bottom Bar CSS *********/


/**********************************/

.bottom-bar {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 30px;
}

.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
}

.bottom-bar .logo a img {
    max-height: 60px;
}

.bottom-bar .search {
    width: 100%;
}

.bottom-bar .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #cbd18f;
    border-radius: 4px;
}

.bottom-bar .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #568259;
    border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
    background: #568259;
    color: #ffffff;
}

.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar .user .wishlist {
    margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color: #568259;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
    color: #568259;
    font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
    color: #ffffff;
}

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    .bottom-bar .user {
        margin-bottom: 0;
    }
}


/**********************************/


/*********** Header CSS ***********/


/**********************************/

.header {
    position: relative;
}

.header .col-md-3,
.header .col-md-6 {
    margin-bottom: 30px;
}

.header .navbar {
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: auto;
    background: #ffffff !important;
}

.header .navbar-nav {
    width: 100%;
    padding: 15px 0;
}

.header .navbar li {
    padding: 0 30px;
    border-bottom: 1px solid #f3f6ff;
}

.header .navbar li:last-child {
    border-bottom: none;
}

.header .navbar a {
    color: #353535;
}

.header .navbar a:hover {
    color: #568259;
}

.header .navbar i {
    color: #568259;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}

.header .navbar a:hover i {
    color: #353535;
}

.header-slider {
    position: relative;
    width: 100%;
}

.header-slider .header-slider-item {
    position: relative;
}

.header-slider .header-slider-caption {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    z-index: 1;
}

.header-slider .header-slider-caption ::before {
    content: "";
    background: #568259;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.header-slider .header-slider-caption p {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}


/* If the screen size is 1090px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 1090px) {
    .header-slider .header-slider-caption p {
        font-size: 16px;
    }
}

.header-slider .header-slider-caption .btn {
    border-color: #ffffff;
}

.header-slider .header-slider-caption .btn i {
    margin-right: 5px;
}

.header .header-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff;
}

.header .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 35%;
    padding-bottom: 35%;
}

.header .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.header .img-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #568259;
    transition: all 0.3s;
    opacity: 0;
}

.header .img-text:hover {
    opacity: 1;
}

.header .img-text p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: lightgreen;
    font-size: 16px;
    transition: all 0.3s;
}

.header .img-text:hover p {
    margin: 0;
}


/**********************************/


/********* Breadcrumb CSS *********/


/**********************************/

.breadcrumb-wrap {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.breadcrumb-wrap .breadcrumb {
    margin: 0;
    padding: 0;
    background: transparent;
}


/**********************************/


/********** Category CSS **********/


/**********************************/

.category {
    position: relative;
    padding: 0 15px;
    margin-bottom: 30px;
}

.category .col-md-3 {
    padding: 0;
}

.category .category-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff;
}

.category .category-item.ch-400 {
    height: 400px;
}

.category .category-item.ch-250 {
    height: 250px;
}

.category .category-item.ch-150 {
    height: 150px;
}

.category .category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category .category-item video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.category .category-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgb(89 182 137 / 70%);
    transition: all 0.3s;
    opacity: 0;
}

.category .category-name:hover {
    opacity: 1;
}

.category .category-name p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
}

.category .category-name:hover p {
    margin: 0;
}


/**********************************/


/*********** Feature CSS **********/


/**********************************/

.feature {
    position: relative;
}

.feature .feature-col {
    margin-bottom: 30px;
}

.feature .feature-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
}

.feature .feature-content i {
    color: #568259;
    font-size: 60px;
    margin-bottom: 30px;
}

.feature .feature-content h2 {
    font-size: 18px;
}

.feature .feature-content p {
    font-size: 15px;
    margin: 0;
}


/**********************************/


/******** Product Item CSS ********/


/**********************************/

.product-item {
    position: relative;
}

.product-item .product-title {
    padding: 15px;
    text-align: center;
    background: #754121;
    transition: all .3s;
    height: 80px;
}

.product-item:hover .product-title {
    background: #568259;
}

.product-item .product-title a,
.product-item .product-title .ratting {
    position: relative;
    width: 100%;
}

.product-item .product-title a {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 18px;
}

.product-item .product-title .ratting i {
    font-size: 14px;
    color: #7ee685;
}

.product-item .product-content .price span {
    margin-left: 12px;
    text-decoration: line-through;
    font-weight: 700;
    color: #999999;
}

.product-item:hover .product-title a,
.product-item:hover .product-title .ratting i {
    color: #ffffff;
}

.product-item:hover .product-content .price span {
    color: #dddddd;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
}

.product-item .product-image a {
    display: block;
    background: #ffffff;
    transition: .3s;
}

.product-item .product-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all .3s;
}

.product-item:hover .product-image img {
    transform: scale(1.2);
}

.dropdown-item {
    font-size: 12px;
}

.navbar-nav .dropdown-menu {
    width: 265px;
}

.product-item .product-image .product-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(77 107 64 / 50%);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.product-item:hover .product-image .product-action {
    opacity: 1;
}

.product-item .product-image .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 7px 0 10px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #568259;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all .3s;
    margin-top: 50px;
}

.product-item:hover .product-image .product-action a {
    margin-top: 0;
}

.product-item .product-image .product-action a:last-child {
    margin-right: 0;
}

.product-item .product-image .product-action a:hover {
    color: #568259;
    background: #ffffff;
    border: 1px solid #568259;
}

.product-item .product-price {
    padding: 20px;
    background: #bc6530;
    transition: all .3s;
}

.product-item:hover .product-price {
    background: #568259;
}

.product-item .product-price h3 {
    display: inline-block;
    color: #ffffff;
    margin: 0;
    font-size: 14px;
}

.product-item .product-price h3 span {
    font-size: 16px;
}

.product-item .product-price .btn {
    float: right;
    border: none;
    color: #000000;
    background: #e6f39f;
    font-size: 14px;
}

.product-item:hover .product-price .btn,
.product-item .product-price .btn:hover {
    color: #568259;
    background: #ffffff;
}

.product-item .product-price .btn i {
    margin-right: 5px;
}


/**********************************/


/******** Featured Product ********/


/**********************************/

.featured-product {
    position: relative;
    padding: 30px 0;
}

.recent-product {
    position: relative;
    padding: 30px 0;
}

.product .section-header {
    margin-bottom: 30px;
    padding: 20px 30px 15px 30px;
    color: #568259;
    background: #ffffff;
}

.product .slick-prev,
.product .slick-next {
    top: -75px;
    width: 30px;
    height: 30px;
    z-index: 1;
    transition: .5s;
    color: #568259;
    background: #ffffff;
    border: 1px solid #568259;
    border-radius: 4px;
}

.product .slick-prev {
    left: calc(100% - 120px);
}

.product .slick-next {
    right: 45px;
}

.product .slick-prev:hover,
.product .slick-prev:focus,
.product .slick-next:hover,
.product .slick-next:focus {
    background: #568259;
}

.product .slick-prev::before,
.product .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    color: #568259;
}

.product .slick-prev::before {
    content: "\f104";
}

.product .slick-next::before {
    content: "\f105";
}

.product .slick-prev:hover::before,
.product .slick-prev:focus::before,
.product .slick-next:hover::before,
.product .slick-next:focus::before {
    color: #ffffff;
}


/**********************************/


/******** Product View CSS ********/


/**********************************/

.product-view {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-view .product-view-top {
    padding: 30px;
    margin-bottom: 30px;
    background: #ffffff;
}

.product-view .product-search {
    position: relative;
    width: 100%;
}

.product-view .product-search input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    background: transparent;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: all .3s;
}

.product-view .product-search input:focus {
    border-color: #568259;
}

.product-view .product-search button {
    position: absolute;
    width: 35px;
    height: 33px;
    top: 1px;
    right: 1px;
    text-align: center;
    background: transparent;
    color: #353535;
    border: none;
    border-radius: 0 4px 4px 0;
    transition: all .3s;
}

.product-view .product-search button i {
    font-size: 16px;
}

.product-view .product-search button:hover {
    background: #568259;
    color: #ffffff;
}

.product-view .product-short,
.product-view .product-price-range {
    position: relative;
    width: 100%;
    text-align: right;
}

.product-view .product-short .dropdown .dropdown-toggle,
.product-view .product-price-range .dropdown .dropdown-toggle {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #353535;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.product-view .product-short .dropdown .dropdown-toggle:hover,
.product-view .product-price-range .dropdown .dropdown-toggle:hover {
    color: #568259;
    border-color: #568259;
}

.product-view .product-short .dropdown .dropdown-toggle::after,
.product-view .product-price-range .dropdown .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.product-view .product-short .dropdown-menu,
.product-view .product-price-range .dropdown-menu {
    margin: -1px 0 0 0;
    border-radius: 0;
}

.product-view .product-item {
    margin-bottom: 30px;
}

.product-view .pagination {
    margin: 0;
}

.product-view .pagination .page-item .page-link {
    color: #353535;
    background: transparent;
    border-color: #353535;
}

.product-view .pagination .page-item:hover .page-link,
.product-view .pagination .page-item.active .page-link {
    color: #568259;
    background: #000000;
}

@media (max-width: 991.98px) {
    .product-view .pagination {
        margin-bottom: 30px;
    }
}


/**********************************/


/******* Product Detail CSS *******/


/**********************************/

.product-detail {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.product-detail .product-detail-top,
.product-detail .product-detail-bottom {
    margin-bottom: 30px;
}

.product-detail .product-detail-top {
    padding: 0;
    background: #ffffff;
}

.product-detail .product-slider-single img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-detail .product-slider-single-nav {
    margin: 15px 30px 30px 30px;
    border: 3px double #568259;
}

.product-detail .product-slider-single-nav .slider-nav-img {
    border-right: 1px solid #568259;
    overflow: hidden;
}

.product-detail .product-slider-single-nav img {
    width: 100%;
    height: 30px;
    transition: all .3s;
    object-fit: fill;
}

.product-detail .product-slider-single-nav img:hover {
    transform: scale(1.2);
}

.product-detail .product-content,
.product-detail .product-content .title,
.product-detail .product-content .ratting,
.product-detail .product-content .price,
.product-detail .product-content .details,
.product-detail .product-content .quantity,
.product-detail .product-content .action {
    position: relative;
    width: 100%;
}

.product-detail .product-content {
    padding: 30px;
}

@media (min-width: 768px) {
    .product-detail .product-content {
        padding-left: 0;
    }
}

.product-detail .product-content .title h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.product-detail .product-content .ratting {
    margin-bottom: 10px;
}

.product-detail .product-content .ratting i {
    color: #568259;
    font-size: 16px;
}

.product-detail .product-content .price,
.product-detail .product-content .quantity,
.product-detail .product-content .p-size,
.product-detail .product-content .p-color {
    margin-bottom: 15px;
}

.product-detail .product-content .price h4,
.product-detail .product-content .quantity h4,
.product-detail .product-content .p-size h4,
.product-detail .product-content .p-color h4 {
    display: inline-block;
    width: 80px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 5px;
}

.product-detail .product-content .price p {
    display: inline-block;
    color: #568259;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.product-detail .product-content .price span {
    color: #999999;
    text-decoration: line-through;
    margin-left: 12px;
}

.product-detail .product-content .quantity .qty {
    display: inline-block;
    font-size: 0;
}

.product-detail .product-content .quantity button {
    width: 30px;
    height: 30px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    background: #568259;
    border: none;
}

.product-detail .product-content .quantity button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.product-detail .product-content .quantity button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.product-detail .product-content .quantity input {
    width: 40px;
    height: 30px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background: #000000;
    border: none;
}

.product-detail .product-content .action a:first-child {
    margin-right: 11px;
}

.product-detail .product-content .action a i {
    margin-right: 5px;
}

.product-detail .nav.nav-pills .nav-link {
    color: #568259;
    background: #000000;
    border-radius: 0;
    transition: all .3s;
}

.product-detail .nav.nav-pills .nav-link:hover,
.product-detail .nav.nav-pills .nav-link.active {
    color: #000000;
    background: #568259;
}

.product-detail .tab-content {
    background: #ffffff;
    padding: 25px 15px 15px 15px;
}

.product-detail .tab-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-detail .tab-content ul li {
    margin-bottom: 10px;
}

.product-detail .tab-content ul li::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.product-detail .tab-content .reviews-submitted {
    position: relative;
    margin-bottom: 45px;
}

.product-detail .tab-content .reviewer {
    color: #568259;
    font-size: 18px;
    font-weight: 600;
}

.product-detail .tab-content .reviewer span {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.product-detail .tab-content .ratting {
    color: #568259;
    margin-bottom: 15px;
}

.product-detail .tab-content .reviews-submit .ratting {
    font-size: 24px;
}

.product-detail .tab-content .form input {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form textarea {
    width: 100%;
    height: 80px;
    padding: 6px 15px;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.product-detail .tab-content .form button {
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    color: #568259;
    background: #ffffff;
    border: 1px solid #568259;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all .3s;
}

.product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #568259;
}


/**********************************/


/********** Sidebar CSS ***********/


/**********************************/

.sidebar-widget {
    padding: 30px;
    background: #ffffff;
}

.sidebar-widget:not(:first-child) {
    padding-top: 0;
}

.sidebar-widget .title {
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.sidebar-widget.category {
    margin: 0;
}

.sidebar-widget.category .navbar {
    padding: 0;
    overflow: hidden;
    background: #ffffff !important;
}

.sidebar-widget.category .navbar-nav {
    width: 100%;
}

.sidebar-widget.category .navbar li {
    border-bottom: 1px solid #f3f6ff;
}

.sidebar-widget.category .navbar li:last-child {
    border-bottom: none;
}

.sidebar-widget.category .navbar a {
    color: #353535;
}

.sidebar-widget.category .navbar a:hover {
    color: #568259;
}

.sidebar-widget.category .navbar i {
    color: #568259;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}

.sidebar-widget.category .navbar a:hover i {
    color: #353535;
}

.sidebar-widget.brands ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-widget.brands ul li {
    margin-bottom: 12px;
}

.sidebar-widget.brands ul li:last-child {
    margin-bottom: 0;
}

.sidebar-widget.brands ul li a {
    color: #353535;
    white-space: nowrap;
    display: inline-block;
    line-height: 23px;
    transition: all .3s;
}

.sidebar-widget.brands ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.sidebar-widget.brands ul li a:hover {
    color: #568259;
}

.sidebar-widget.brands ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.sidebar-widget.brands ul li a:hover {
    padding-left: 10px;
}

.sidebar-widget.brands ul li span {
    display: inline-block;
    float: none;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-widget.widget-slider {
    position: relative;
}

.sidebar-widget.image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar-widget.image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar-widget.image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.sidebar-widget.tag a {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 3px 8px;
    font-size: 14px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: .3s;
}

.sidebar-widget.tag a:hover {
    color: #ffffff;
    background: #568259;
    border-color: #568259;
}


/**********************************/


/************ Cart CSS ************/


/**********************************/

.cart-page {
    position: relative;
    margin-top: 30px;
}

.cart-page .cart-page-inner {
    padding: 30px;
    margin-bottom: 30px;
    background: #ffffff;
}

.cart-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.cart-page .table .thead-dark th {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background: transparent;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.cart-page .table td {
    font-size: 16px;
    vertical-align: middle;
}

.cart-page .table .img {
    display: flex;
    align-items: center;
}

.cart-page .table .img img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

.cart-page .table .img p {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.cart-page .table .qty {
    display: inline-block;
    width: 100px;
    font-size: 0;
}

.cart-page .table button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #568259;
    border: none;
    border-radius: 4px;
}

.cart-page .table button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.cart-page .table button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.cart-page .table button.btn-cart {
    width: auto;
}

.cart-page .table input {
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background: #000000;
    border: none;
}

.cart-page .coupon {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    font-size: 0;
}

.cart-page .coupon input {
    width: calc(100% - 135px);
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    color: #999999;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-right: 15px;
    transition: all .3s;
}

.cart-page .coupon input:focus {
    border-color: #568259;
}

.cart-page .coupon button {
    width: 120px;
    height: 40px;
    padding: 2px 0;
    font-size: 16px;
    text-align: center;
    color: #568259;
    background: #ffffff;
    border: 1px solid #568259;
    border-radius: 4px;
}

.cart-page .coupon button:hover {
    color: #ffffff;
    background: #568259;
}

.cart-page .cart-summary {
    position: relative;
    width: 100%;
}

.cart-page .cart-summary .cart-content {
    padding: 30px;
    background: #f3f6ff;
}

.cart-page .cart-summary .cart-content h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.cart-page .cart-summary .cart-content p span,
.cart-page .cart-summary .cart-content h2 span {
    float: right;
}

.cart-page .cart-summary .cart-content h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.cart-page .cart-summary .cart-btn button {
    margin-top: 15px;
    width: calc(50% - 15px);
    height: 50px;
    padding: 2px 10px;
    text-align: center;
    color: #ffffff;
    background: #568259;
    border: none;
    border-radius: 4px;
}

.cart-page .cart-summary .cart-btn button:hover {
    color: #568259;
    background: #000000;
}

.cart-page .cart-summary .cart-btn button:first-child {
    margin-right: 25px;
    color: #568259;
    background: #ffffff;
    border: 1px solid #568259;
}

.cart-page .cart-summary .cart-btn button:first-child:hover {
    color: #ffffff;
    background: #568259;
}


/**********************************/


/********** Wishlist CSS **********/


/**********************************/

.wishlist-page {
    position: relative;
    padding: 30px 0;
}

.wishlist-page .wishlist-page-inner {
    padding: 30px;
    background: #ffffff;
}

.wishlist-page .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.wishlist-page .table .thead-dark th {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: center;
    background: transparent;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.wishlist-page .table td {
    font-size: 16px;
    vertical-align: middle;
}

.wishlist-page .table .img {
    display: flex;
    align-items: center;
}

.wishlist-page .table .img img {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
}

.wishlist-page .table .img p {
    display: inline-block;
    text-align: left;
    margin: 0;
}

.wishlist-page .table .qty {
    display: inline-block;
    width: 100px;
    font-size: 0;
}

.wishlist-page .table button {
    width: 30px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    background: #568259;
    border: none;
    border-radius: 4px;
}

.wishlist-page .table button.btn-minus {
    border-radius: 4px 0 0 4px;
}

.wishlist-page .table button.btn-plus {
    border-radius: 0 4px 4px 0;
}

.wishlist-page .table button.btn-cart {
    width: auto;
}

.wishlist-page .table input {
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    background: #000000;
    border: none;
}


/**********************************/


/********** Checkout CSS **********/


/**********************************/

.checkout {
    position: relative;
    padding-top: 30px;
}

.checkout .checkout-inner {
    margin-bottom: 30px;
    padding: 30px;
    background: #ffffff;
}

.checkout .billing-address,
.checkout .shipping-address {
    position: relative;
    width: 100%;
}

.checkout .shipping-address {
    display: none;
    margin-top: 30px;
}

.checkout .billing-address h2,
.checkout .shipping-address h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment {
    position: relative;
    width: 100%;
}

.checkout .checkout-summary h1,
.checkout .checkout-payment h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment .payment-methods {
    padding: 30px;
    background: #f3f6ff;
    margin-bottom: 30px;
}

.checkout .checkout-summary p.sub-total,
.checkout .checkout-summary p.ship-cost {
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.checkout .checkout-summary p span,
.checkout .checkout-summary h2 span {
    float: right;
}

.checkout .checkout-summary h2 {
    font-size: 20px;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.checkout .checkout-payment .payment-methods .payment-content {
    display: none;
}

.checkout .checkout-payment .checkout-btn button {
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    background: #568259;
    border: none;
    border-radius: 4px;
    transition: all .3s;
}

.checkout .checkout-payment .checkout-btn button:hover {
    color: #568259;
    background: #000000;
}


/**********************************/


/********* My Account CSS *********/


/**********************************/

.my-account {
    position: relative;
    padding: 30px 0;
}

.my-account img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
}

.my-account .nav.nav-pills .nav-link {
    padding: 10px 15px;
    color: #353535;
    background: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #dddddd;
    transition: all .3s;
}

.my-account .nav.nav-pills .nav-link:last-child {
    border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #568259;
}

.my-account .nav.nav-pills .nav-link i {
    margin-right: 5px;
}

.my-account .tab-content {
    padding: 30px;
    background: #ffffff;
}

.my-account .tab-content .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
    text-align: center;
    color: #353535;
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.my-account .tab-content .table td {
    vertical-align: middle;
}


/**********************************/


/******* Call to Action CSS *******/


/**********************************/

.call-to-action {
    position: relative;
    padding: 30px 0;
    background: #568259;
}

.call-to-action .col-md-6:last-child {
    text-align: right;
}

.call-to-action h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

.call-to-action a {
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
    transition: all .3s;
}

.call-to-action a:hover {
    color: #000000;
    border-color: #000000;
}

@media (max-width: 767.98px) {
    .call-to-action,
    .call-to-action .col-md-6:last-child {
        text-align: center;
    }
    .call-to-action h1 {
        margin-bottom: 20px;
    }
}


/**********************************/


/********* Newsletter CSS *********/


/**********************************/

.newsletter {
    position: relative;
    padding: 30px 0;
    background: #568259;
}

.newsletter h1 {
    color: #ffffff;
    font-size: 30px;
    margin: 0;
}

.newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 0 0 auto;
}

.newsletter .form input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.newsletter .form button {
    position: absolute;
    width: 80px;
    height: 40px;
    top: 0;
    right: 0;
    padding: 0 15px;
    border: none;
    background: #568259;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0 4px 4px 0;
}

.newsletter .form button:hover {
    color: #568259;
    background: #000000;
}

@media (max-width: 767.98px) {
    .newsletter {
        text-align: center;
    }
    .newsletter h1 {
        margin-bottom: 20px;
    }
    .newsletter .form {
        margin: 0 auto;
    }
}


/**********************************/


/*********** Brand CSS ************/


/**********************************/

.brand {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0;
    background: #ffffff;
}

.brand .brand-item {
    text-align: center;
}

.brand .brand-item img {
    max-width: 100%;
    margin: auto;
}

.brand .slick-prev,
.brand .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    background: #568259;
    border-radius: 4px;
}

.brand .slick-prev {
    left: 55px;
}

.brand .slick-next {
    right: 55px;
}

.brand .slick-slider:hover .slick-prev {
    left: 15px;
    opacity: 1;
}

.brand .slick-slider:hover .slick-next {
    right: 15px;
    opacity: 1;
}

.brand .slick-prev:hover,
.brand .slick-prev:focus,
.brand .slick-next:hover,
.brand .slick-next:focus {
    background: #000000;
}

.brand .slick-prev:hover::before,
.brand .slick-prev:focus::before,
.brand .slick-next:hover::before,
.brand .slick-next:focus::before {
    color: #568259;
}

.brand .slick-prev::before,
.brand .slick-next::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #000000;
}

.brand .slick-prev::before {
    content: "\f104";
}

.brand .slick-next::before {
    content: "\f105";
}


/**********************************/


/*********** Review CSS ***********/


/**********************************/

.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #568259;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}


/**********************************/


/********** Contact CSS ***********/


/**********************************/

.contact {
    position: relative;
    padding-top: 30px;
}

.contact .contact-info,
.contact .contact-form,
.contact .contact-map {
    height: 100%;
    padding: 30px;
    background: #ffffff;
    border-bottom: 30px solid #ccfccb;
}

.social p {
    display: inline;
}

.contact .contact-info h2 {
    margin-bottom: 15px;
}

.contact .contact-info h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.contact .contact-info h3 i {
    width: 20px;
    color: #568259;
    margin-right: 5px;
}

.contact .social {
    position: relative;
    width: 100%;
}

.contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #568259;
    border-radius: 4px;
}

.contact .social a i {
    color: #568259;
}

.contact .social a:hover {
    background: #568259;
}

.contact .social a:hover i {
    color: #ffffff;
}

.contact .contact-map iframe {
    width: 100%;
    height: 450px;
}


/**********************************/


/****** Register & Login CSS ******/


/**********************************/

.login {
    position: relative;
    padding-top: 30px;
}

.login .login-form,
.login .register-form {
    padding: 30px;
    background: #ffffff;
    margin-bottom: 30px;
}


/**********************************/


/********** Footer CSS ************/


/**********************************/

.footer {
    position: relative;
    padding: 30px 0 0 0;
    background: #ffffff;
}

.footer .footer-widget {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.footer .footer-widget h2 {
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0;
}

.footer .footer-widget ul li a {
    color: #353535;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    color: #568259;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social p {
    display: inline;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 4px;
    transition: all .3s;
}

.footer .social a:hover {
    color: #568259;
    border-color: #568259;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 80%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }
    .footer .payment-method,
    .footer .payment-security {
        text-align: center;
    }
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
    height: 25px;
}


/**********************************/


/******** Footer Bottom CSS *******/


/**********************************/

.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #000000;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center;
    }
}


/**CALL BUTTON*/

.call-buton .cc-calto-action-ripple {
    z-index: 99999;
    position: fixed;
    right: 1rem;
    bottom: 8rem;
    background: #2dec00;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
    animation: cc-calto-action-ripple 0.6s linear infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.call-buton .cc-calto-action-ripple i {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 2.2rem;
}

.call-buton .cc-calto-action-ripple:hover i {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

@-webkit-keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
        box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
        box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    }
}

@keyframes cc-calto-action-ripple {
    0% {
        -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
        box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
    }
    100% {
        -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
        box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
    }
}

span.num {
    position: absolute;
    color: #00ece2;
    left: -30%;
    bottom: -50%;
}


/**END CALL BUTTON*/


/**FLIPBOOK*/

.page,
.sidebar {
    float: left;
}

.wrap {
    width: 100%;
    max-width: 1800px;
    margin: 2rem auto;
    position: relative;
    background-color: white;
}

.wrap:before,
.wrap:after {
    content: '';
    display: table;
}

.wrap:after {
    clear: both;
}

h1 {
    text-transform: uppercase;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

p {
    text-align: center;
}

.h1,
h1 {
    font-size: 16px;
}

.page,
.page:before {
    width: 40%;
}

.page:before {
    left: 0px;
    background-color: #f9f9f9;
}

.page:first-child+.page:before {
    left: 40%;
}

.sidebar:before {
    left: 80%;
}

.sidebar,
.sidebar:before {
    width: 20%;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
}

.page:before,
.sidebar:before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.05), 0 0 0.25em rgba(0, 0, 0, 0.05), 0 0.25em 0.25em rgba(0, 0, 0, 0.025);
}

article {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-width: 19rem;
    column-width: 19rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

.page .row p {
    margin-top: 20px;
    text-align: justify;
}

.row {
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (max-width: 64em) {
    .page,
    .page:before {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }
    .page:first-child+.page:before {
        left: 0;
    }
    .sidebar {
        width: 100%;
    }
    .sidebar:before {
        display: none;
    }
    .page .row p {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    .page,
    .page:before {
        width: 50%;
    }
    .sidebar:before {
        display: none;
    }
    .page:first-child+.page:before {
        left: 50%;
    }
    .sidebar {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .sidebar .column {
        width: 50%;
        margin: 0;
        padding: 0 3rem;
        float: right;
    }
    .sidebar .column:nth-child(2n+1) {
        float: left;
        clear: both;
    }
}


/**END FLIPBOOK*/


/**START NEWS*/

.news-card__title {
    color: white;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.news-card {
    color: white !important;
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {
    .news-card {
        height: 20rem
    }
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
    ;
    z-index: 0;
}

.news-card__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: -1;
}

.news-card__text-wrapper {
    position: absolute;
    bottom: 0rem;
    padding: 1rem;
    color: white;
    /*     background-color: rgba(0, 0, 0, 0.4); */
    transition: background-color 1.5s ease;
}

.news-card__title {
    transition: color 1s ease;
    margin-bottom: .5rem;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.news-card__post-date {
    font-size: .7rem;
    margin-bottom: .5rem;
    color: #CCC;
}

.news-card__details-wrapper {
    max-height: 0;
    opacity: 0;
    transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }
    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .news-card:hover .news-card__title {
        color: yellow;
    }
    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }
}

.news-card p {
    color: white;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-card__excerpt {
    font-weight: 300;
}

.news-card__read-more {
    background: white;
    color: rgb(128, 120, 120);
    display: block;
    padding: 0.4rem 0.6rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: 1px solid #444;
    font-size: 0.8rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
    width: 7rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.news-card__read-more i {
    position: relative;
    left: 0.2rem;
    color: #888;
    transition: left 0.5s ease, color 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.news-card__read-more:hover i {
    left: 0.5rem;
    color: yellow;
}


/**END NEWS*/


/**START POST*/

.newspaper-title {
    margin-top: 30px;
    font-weight: 900;
    letter-spacing: 0.6px;
    text-align: center;
    padding-top: 50px;
}

.main-article img {
    object-fit: cover;
    width: 100%;
}

.post-time {
    margin-top: 10px;
    padding-bottom: 12px;
}

.post-author {
    padding-bottom: 12px;
    font-weight: 300;
    color: #939393;
}

.post-p {
    margin-bottom: 10px;
    line-height: 25px;
    text-align: justify;
}

.post-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
}

.main-article {
    margin: 30px 0;
    padding: 10px 22px;
    border: 1px solid #EDEDED;
    border-radius: 3px;
}


/**END POST*/


/**start slogan**/

div.remotal {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
}

div.remotal a {
    text-decoration: none;
}

div.remotal span {
    color: black;
    font: 49px "avenir-next-demibold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: bold;
}

div.fyi {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

div.fyi span {
    color: white;
    font: 20px "avenir-next-demibold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: normal;
    font-style: italic;
}


/* Slogan code starts here */

.text-rotator,
.text-rotator span,
.text-rotator p,
.text-rotator a,
.text-rotator ol,
.text-rotator ul,
.text-rotator li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.text-rotator {
    position: relative;
}

.slogan {
    width: 100%;
    text-align: center;
    font: 40px "avenir-next-demibold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    word-spacing: -2px;
    overflow: hidden;
    /*DEBUG: visible*/
    /*    background-color: yellow; /*DEBUG*/
}

.slogan ul {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: visible !important;
    vertical-align: text-top;
    list-style: none;
}

.slogan ul li {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    color: #2dc687;
    /*      border: solid black 2px; /* DEBUG */
    top: 5em;
    /*not visible while js is loading*/
}

.slogan ul li.first {
    top: 0em;
    /*while js is loading we have a clean slogan*/
}


/**end slogan**/


/** start intro**/

.half-banner-mask {
    padding-top: 50px;
    padding-bottom: 50px;
}

.half-banner-mask .image {
    height: 350px;
}

.banner-heading {
    font-weight: 700;
    font-size: 45px;
}

.banner-text-container.banner-list-container ul {
    list-style-type: none;
}

.half-banner-mask .image {
    background-size: cover;
    background-position: top;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
}


/** end intro**/